<div class="page">
  <div class="page-header">
        <!-- <div class="page-header-content"> -->
            <h1><%= name %></h1>
        <!-- </div> -->
    </div>
    <div class="page-region">
        <div class="page-region-content">
            <h2><%= name %></h2>
            <img src="<%= image %>">
            <h3>Overall: <%= overall %></h3>
            <h4>Health Rating: <%= health %></h4>
            <h4>Environment Rating: <%= env %></h4>
            <h4>Society Rating: <%= society %></h4>
        </div>
    </div>
</div>
</div>


