<div class="page">
  <div class="page-header">
        <!-- <div class="page-header-content"> -->
            <h1><%= name %></h1>
        <!-- </div> -->
    </div>
    <div class="page-region">
        <div class="page-region-content">
            <ul class="listview fluid bg-color-blueLight">
                <li>
                    <h2><%= name %></h2>
                    <img style="max-width:100%;" src="<%= image %>">
                    <h3>Overall: <%= overall %></h3>
                    <h4>Health Rating: <%= health %></h4>
                    <h4>Environment Rating: <%= env %></h4>
                    <h4>Society Rating: <%= society %></h4>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>


